{
  "presets": [
    ["env", {
      "targets": {
        "node": true
      }
    }]
  ],
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy",
    "transform-class-properties"
  ]
}
